{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="row column">
			<h1 class="h4 text-center" style="margin: 30px 0;">{{post.title}}</h1>
		</div>
		<div class="grid-container">
			<div class="grid-x grid-padding-x">
				<div class="small-12 medium-offset-2 medium-4 cell">
					<img src="{{post.thumbnail.src("large")}}" alt="">
				</div>
				<div class="small-12 medium-4 medium-centered cell">
					<section class="article-content">
						<p class="blog-author">{{ post.post_date|date}}</p>
						<ul class="no-bullet purchase-links">
							{% for item in post.get_field('links') %}
									{% set field = item.icon %}
									<li>
										<a href="{{item.url}}" class="">
											{% include 'icons.twig' ignore missing %}{% if field != 'No Icon' %}  |  {% endif %}{{item.label}}
										</a>
									</li>
							{% endfor %}
						</ul>
						<div class="article-body">{{post.content}}</div>
					</section>
				</div>
			</div>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}
