<article class="article-item post-type-{{post.post_type}}" id="post-{{post.ID}}">
  <a href="{{post.link}}">
    <img src="{{ post.thumbnail.src | resize(500, 500) }}" srcset="{{ post.thumbnail.src | resize(500, 500) | retina(1) }} 1x,
    {{ post.thumbnail.src | resize(500, 500) | retina(2) }}  2x,
    {{ post.thumbnail.src | resize(500, 500) | retina(3) }}  3x,
    {{ post.thumbnail.src | resize(500, 500) | retina(4) }}  4x" alt="">
    <header>
      <span class="post-category">{{post.category}}</span>
      <span class="divider"> | </span>
      <span class="post-date">{{post.date|date('n.j.Y')}}</span>
    </header>
    <h2 class="post-title">{{post.title}}</h2>
    <div class="post-content">
      {{ post.post_content|excerpt(15) }}
    </div>
    <footer>
      <a href="{{post.link}}">Read More</a>
    </footer>
  </a>
</article>
