<article class="article-item post-type-{{post.post_type}}" id="post-{{post.ID}}">
  <a href="{{post.link}}">
    <img src="{{post.thumbnail.src('medium') }}" alt="">
    <header>
      Featured | 6.15.2017
    </header>
    <h2>{{post.title}}</h2>
    <footer>
      <a href="{{post.link}}">Read More</a>
    </footer>
  </a>
</article>
