{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<div class="offcanvas-menu show-for-small-only">
			<div class="offcanvas-wrapper">
				<a href="#" class="menu-toggle text-right"><i class="fa fa-times"></i></a>
				<a class="hdr-logo-link-mobile" href="{{site.url}}" rel="home">
					<img src="{{theme.path}}/static/img/jba-logo-wht.svg" alt="">
				</a>
				<nav class="mobile-nav">
					<ul class="mobile-links no-bullet text-center">
						{% include "menu.twig" with {'menu': menu.get_items} %}
						<li><a class="siteby" href="http://www.never-not.com">site by nevernot</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="offcanvas-wrap">
			<header id="header" class="{% if function('is_home') %}hidden{% endif %}">
				{% block header %}
					<div class="grid-x wrapper hide-for-small-only">
						<a class="nav-cap hdr-logo-link" href="{{site.url}}" rel="home">
							<img src="{{theme.path}}/static/img/logo-cinematic-c.gif" alt="">
						</a>
						<nav id="nav-main" class="auto cell" role="navigation">
							<ul class="medium-8 menu-links menu simple expanded">
								{% include "menu.twig" with {'menu': menu.get_items} %}
							</ul>
						</nav>
						<div class="nav-cap social-menu-expand">
							Social
							<ul class="social-menu menu">
								{% include 'social-links.twig' %}
							</ul>
						</div>
					</div>

					<div class="mobile-top-bar show-for-small-only">
						<a href="#" class="menu-toggle"><i class="fa fa-bars fa-2x"></i></a>
						<!-- <img src="{{theme.path}}/static/img/jba-logo-wht.svg" alt=""> -->
					</div>

				{% endblock %}
			</header>

			<section id="content" role="main" class="pjax-content" rel="fillscreen">
					{% block content %}
						Sorry, no content
					{% endblock %}
			</section>

			{% block footer %}
				<footer id="footer">
					{% include 'footer.twig' %}
				</footer>
				{{ function('wp_footer') }}
			{% endblock %}
		</div>
	</body>
</html>
