{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<div class="grid-container">
				<div class="grid-x grid-padding-x">
					<div class="cell">
						<h1 class="article-h1 text-center">{{ post.title }}</h1>
					</div>
				</div>
				<div class="grid-x grid-padding-x">
					<div class="cell medium-6">
						<img src="{{post.thumbnail}}" alt="">
					</div>
					<div class="cell medium-6">
						<section class="article-content">
							<p class="blog-author">
								<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.date }}
							</p>
							<div class="article-body">
								{{post.content}}
							</div>
						</section>
					</div>
				</div>
			</div>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
