{% if square is empty %}
  {% set square = false %}
{% endif %}
{% if thumb is empty %}
  {% set thumb = post.thumbnail.src %}
{% endif %}
<article class="grid-y article-item post-type-{{post.type}} post-category-{{post.category}}" id="post-{{post.ID}}" data-equalizer-watch>
  <div class="cell grow">
    <a href="{{post.link}}">
      {% if square == true %}
        <img class="b-lazy square" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ thumb | resize(500, 500) }}" alt="{{ post.title }}">
      {% else %}
        <img class="b-lazy" src=data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAE0lEQVR42mNk+M9Qz4AEGAkKAACM3wR+BhedNgAAAABJRU5ErkJggg== data-src="{{ thumb | resize(400, 300) }}" alt="{{ post.title }}">
      {% endif %}
      <header>
        {% if post.category %}
          <span class="post-category">{{post.category}}</span>
          <span class="divider"> | </span>
        {% endif %}
        {% if post.date %}
        <span class="post-date">{{post.date|date('n.j.Y')}}</span>
        {% endif %}
      </header>
      {% if post.title %}
        <h2 class="post-title">{{post.title|replace({'<i>': '','</i>': ''})}}</h2>
      {% endif %}
      {% if post.post_content %}
        <div class="post-content">{{ post.post_content|excerpt(15) }}</div>
      {% endif %}
      {% if post.type == 'muso-album' %}
        <p class="post-artist">{{ post.terms('artist') | first }}</p>
      {% endif %}
    </a>
  </div>
  <div class="cell">
    <footer>
      <a href="{{post.link}}">Read More</a>
    </footer>
  </div>
</article>
